@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?z4dsxl');
  src:  url('fonts/icomoon.eot?z4dsxl#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?z4dsxl') format('truetype'),
    url('fonts/icomoon.woff?z4dsxl') format('woff'),
    url('fonts/icomoon.svg?z4dsxl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-javascript:before {
  content: "\e907";
  color: #f7df1e;
}
.icon-ionic:before {
  content: "\e900";
  color: #3880ff;
}
.icon-mongodb:before {
  content: "\e901";
  color: #47a248;
}
.icon-microsoftazure:before {
  content: "\e902";
  color: #0089d6;
}
.icon-amazonaws:before {
  content: "\e903";
}
.icon-angular:before {
  content: "\e904";
  color: #dd0031;
}
.icon-node:before {
  content: "\e905";
  color: #393;
}
.icon-react:before {
  content: "\e906";
  color: #61dafb;
}
.icon-github:before {
  content: "\e908";
}
.icon-linkedin:before {
  content: "\e909";
  color: #0077b5;
}
.icon-twitter:before {
  content: "\e90a";
  color: #1da1f2;
}
.icon-webpack:before {
  content: "\e90b";
  color: #8dd6f9;
}
.icon-git:before {
  content: "\e90c";
  color: #f05032;
}
.icon-docker:before {
  content: "\e90d";
  color: #1488c6;
}
.icon-typescript:before {
  content: "\e910";
  color: #007acc;
}
.icon-medium:before {
  content: "\e90e";
}
.icon-info:before {
  content: "\ea0c";
}
.icon-mail:before {
  content: "\e90f";
}
