.skills-wrapper > div {
  display: flex;
  place-content: center start;
  padding: 5px;
  max-width: 40%;
  align-items: center;
}

.skills-wrapper > div > span {
  margin: 0 5px;
  text-align: left;
  user-select: none;
}

.skills-wrapper > div > svg {
  flex: 0 0 auto;
}